!!! 5
%html
  %head
    %title My Awesome HTML Page
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width,initial-scale=1.0,shrink-to-fit=no"}
  %body
    %header#header
      %h1.title My Awesome Article
    %article#main
    %footer#footer

