
/* Base */
abbr[title] {
  background: yellow;
  cursor: help;
}
abbr {
  background: white;
  transition: background 2s;
}

/* Layout */

/* Module */

/* State */

.nojs h1 { color: red; }

.js h1 { color: blue; }
