%html
  %head
    %title {Title}
  %body
    %header#header
      %h1
        %a{href: "{BlogURL}"} {Title}
      %p {Description} Read this site via 
        %a{href: "{RSS}"} RSS
      .main
        {block:Posts}
        {block:Text}
        %article
          %header
            %h2 
              {block:IndexPage}
              %a{href: "{Permalink}"} {Title}
              {/block:IndexPage}
              {block:PermalinkPage}
              {Title}
              {/block:PermalinkPage}
          .content {Body}
          %footer
            %p Posted at {12Hour}:{Minutes}{AmPm} {Month} {DayOfMonth}, {Year}
        {/block:Text}
        {/block:Posts}
     
